<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>Poster</title>
</head>
<body class="w-screen h-screen bg-[#141414] m-0 overflow-hidden text-white redPage">
  <header>
    <h1 class="text-3xl tracking-widest absolute top-[50%] left-[49%] z-10 cursor-default font-thin text-opacity-75" id="heading-title">Poster</h1>
  </header>
  <main>