<%- include('partials/header.ejs') %>
<a href='/newPost' class="absolute right-6 top-6 font-light"><button>Create</button></a>
<br>
<%if (locals.FileWithContents) {%>
  <div id="posts-track" class="flex gap-[1.5vmin] absolute left-[50%] top-[50%]" style="transform: translate(0%, -50%)" data-mouse-down-at="0"  data-prev-percentage="0">
    <%- include('partials/card.ejs') %>
  </div>
<%} else {%>
  <div class="w-screen h-screen flex justify-center items-center">
    <p class="text-[20rem] text-[#141414]" style="-webkit-text-stroke: 2px white;">No post</p>
  </div>
<%}%>

<%- include('partials/footer.ejs') %>